@model Practica_3_EF.MVC.Models.EmployeeView
@{ViewBag.Title = "Empleados";}


<div>
    <section class="div-form-views">
        <h1>Modificar Empleado</h1>
        <section>
            @using (Html.BeginForm("Update", "Employee", FormMethod.Post))
            {
                <div>
                    @Html.HiddenFor(e => e.EmployeeID)

                    @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control txtNombre", @placeholder = "Ingresar nombre", @required = "true" })
                    <p style="display:none" class="validation-nombre"> El campo no puede tener más de 10 caracteres</p>
                    <br />

                    @Html.TextBoxFor(e => e.LastName, new { @class = "form-control txtApellido", @placeholder = "Ingresar apellido", @required = "true" })
                    <p style="display:none" class="validation-apellido"> El campo no puede tener más de 20 caracteres</p>
                    <br />
                    @Html.TextBoxFor(e => e.Title, new { @class = "form-control txtCargo", @placeholder = "Ingresar cargo", @required = "true" })
                    <p style="display:none" class="validation-cargo"> El campo no puede tener más de 30 caracteres</p>
                    <br />
                    @Html.TextBoxFor(e => e.Country, new { @class = "form-control txtPais", @placeholder = "Ingresar país", @required = "true" })
                    <p style="display:none" class="validation-pais"> El campo no puede tener más de 15 caracteres</p>

                    <br />

                </div>

                <div class="buttons-insert-categoria">
                    <input id="btnGuardar" type="submit" class="btn btn-success" value="Guardar" />
                    <input type="button" onclick="document.location.href='@Url.Content("/Employee")'" class="btn btn-danger btn-secondary-cancelar" value="Cancelar" />
                </div>
            }

        </section>
    </section>
</div>
@*@section Scripts{
    <script type="text/javascript" charset="utf-8">
        let btnGuardar = document.getElementById("btnGuardar");
        let txtNombre = document.querySelector(".txtNombre");
        let txtApellido = document.querySelector(".txtApellido");
        let txtCargo = document.querySelector(".txtCargo");
        let txtPais = document.querySelector(".txtPais");
        let validationNombre = document.querySelector(".validation-nombre");
        let validationApellido = document.querySelector(".validation-apellido");
        let validationCargo = document.querySelector(".validation-cargo");
        let validationPais = document.querySelector(".validation-pais");

        btnGuardar.addEventListener("click", (e) => {

            if (txtNombre.value.length > 10) {
                e.preventDefault();
                validationNombre.style.color = "red";
                validationNombre.style.display = "";
                validationApellido.style.display = "none";
                validationCargo.style.display = "none";
                validationPais.style.display = "none";


            }
            if (txtApellido.value.length > 20) {
                e.preventDefault();
                validationApellido.style.color = "red";
                validationApellido.style.display = "";
                validationNombre.style.display = "none";
                validationCargo.style.display = "none";
                validationPais.style.display = "none";
            }
            if (txtCargo.value.length > 30) {
                e.preventDefault();
                validationCargo.style.color = "red";
                validationCargo.style.display = "";
                validationNombre.style.display = "none";
                validationApellido.style.display = "none";
                validationPais.style.display = "none";
            }
            if (txtPais.value.length > 15) {
                e.preventDefault();
                validationPais.style.color = "red";
                validationPais.style.display = "";
                validationNombre.style.display = "none";
                validationCargo.style.display = "none";
                validationApellido.style.display = "none";
            }
        })
    </script>
}*@
